* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.petals {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	border: 10px solid transparent;
	border-color: #e98080 #ebbcbc;
	border-radius: 25%;
	animation: thing 10s cubic-bezier(0.27, 1.63, 1, 1) infinite;
}

.petals2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	border: 10px solid transparent;
	border-color: #ebbcbc #e98080;
	border-radius: 25%;
	animation: thing 10s cubic-bezier(0.27, 1.63, 1, 1) infinite;
}

@keyframes thing {
	100% {
		transform: rotateZ(1turn);
	}
}
